*{
    margin: 0;
    padding: o;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.headerdup{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size: 52px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
 .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
 }
 nav .bi{
    display: none;
 }
 @media(max-width:700px) {
.text-box h1{
    font-size: 20px;
 }
 .nav-links ul li{
    display: block;
 }
 .nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top:0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
 }
 nav .bi{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
 }
 .nav-links ul{
    padding: 30px;

 }
}
/*-----Advantage------*/
.advantage{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p1{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #ecdada;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/*-------most preferred places-----*/

.destination{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.destination-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.destination-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity:1;
}

/*--------Travel Plan-----*/
.plan{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.plan-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.plan-col img{
    width: 100%;
    border-radius: 10px;
}
.plan-col p{
    padding: 0;
}
.plan-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/*-------Reviews-------*/
.reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.reviews-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #ecdada;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.reviews-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.reviews-col p{
    padding: 0
}
.reviews-col h3{
    margin-top: 15px;
    text-align: left;
}
.reviews-col .bi{
    color: #f44336;
}
@media(max-width:700px){
    .reviews-col img{
       
        margin-left: 0px;
        margin-right: 15px;
       
    }
}
/*-------call to action------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/aboutus.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}


/*-------footer-----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color:rgba(255, 255, 255, 0.566);
}
.footer h4{
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 600;
}

.footer .icon{
    text-align: center;
    padding-top:15px ;
    padding-bottom: 15px;
    color:rgba(15, 54, 145, 0.716); ;
}
.footer .icon a {
font-size: 24px;
color: inherit;
border: 1px solid #ccc;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin: 0 8px;
opacity: 0.75;
}
.footer .icon a:hover {
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
color: inherit;
text-decoration: none;
opacity: 0.9;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover {
    opacity: 1;
}

/*---------places.html---------*/

.header1{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(places/placestovisit.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.text-box1{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.text-box1 h1{
    font-size: 65px;
 }
 .nav-links1 ul li{
    display: block;
 }
 .nav-links1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

 .nav-links1{
    position: absolute;
    background: rgba(0, 0, 0, 0.814);
    height: 80vh;
    width: 200px;
    top:0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
 }
 nav .bi{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
 }
 .nav-links1 ul{
    padding: 30px;

 }


 /*---------places--------*/

 .places{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.places-col1{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/wayanad.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.places-col2{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/kochi.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.places-col3{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/munnar.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.places-col4{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/kozhikode.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.places-col5{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/alapuzha.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.places-col6{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/kottayam.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.places-col7{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/thrissur.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.places-col8{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/idukki.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.places-col9{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(places/trivandrum.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.places-col1 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
.places-col2 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
.places-col3 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
.places-col4 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
 
.places-col5 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
 
.places-col6 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
 
.places-col7 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
 
.places-col8 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
 
.places-col9 h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;

}
 
 









/*---------Contact.html----*/
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/bk.jpeg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px ;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
  padding-right: 500px;
}